.cat_logo{
    /* display: flex; */
    /* justify-content: 'flex-start'; */
    height: 200px;
    width: 200px;
}

.nav_box{
    display: flex;
    justify-content: space-between;
}

.nav_routes{
    display: flex;
    justify-content: flex-end;
}